/* header Styles */
.header,
.headerScrolled {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 4rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
  background-color: white;
  z-index: 1;
}

.headerScrolled {
  box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
}

.headerLeading,
.headerTrailing {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLeading {
  width: 100%;
  gap: 0.5rem;
  padding-left: 0.5rem;
}

.headerTrailing {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.navDesktop {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navDesktop p {
  color: gray;
  font-size: x-large;
  font-weight: lighter;
}

.navMobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .navDesktop {
    display: none;
  }

  .navMobile {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
    }
}

.menu {
  background-color: white;
  display: flex;
  flex-direction: column;
  top: 4.5rem;
  position: fixed;
  z-index: 5;
  box-shadow: 0 4px 8px rgba(0.1, 0.1, 0.1, 0.1);
}

.navLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: x-large;
  font-weight: lighter;
  gap: 1rem;
  color: gray;
  padding: 0.5rem;
  text-decoration: none;
  transition: transform 0.05s ease;
  z-index: 3;
  cursor: pointer;
}

.navLink:hover {
  background-color: rgba(0.2, 0.2, 0.2, 0.2);
}