html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}