.elementHome,
.elementExperience,
.elementProject {
  height: 100vh;
  min-height: 600px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 600px;
  display: flex;

}

.elementHome,
.elementExperience,
.elementProject {
  flex-direction: column;
  justify-content: center;
}



.elementProject {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.elementProjectContainer {
  height: 100%;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr); 
  gap: 1rem;

}

/* @media (max-width: 768px) {
  .elementProjectContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
} */

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  /* padding: 1rem; */
}

.projectHeader {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  overflow: hidden;
  /* align-items: center; */
  text-align: start;
  width: 100%;
}

.projectContent {}

.projectFooter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* display: flex;
  flex-direction: row; */
  /* gap: 0.5rem; */
}

.projectLinks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  /* justify-content: center; */

}

.elementHome h1,
.elementExperience h1,
.elementProject h1 {
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 300;
}

.elementHome h2,
.elementExperience h2,
.elementProject h2 {
  /* padding-bottom: 1rem; */
  margin: 0;
  font-weight: 300;
}



.elementHome p,
.elementExperience p {
  padding-bottom: 1rem;
  font-weight: 200;
  margin: 0;
}

.elementProject p {
  font-weight: 200;
  margin: 0;
  color: gray;
}

.navLink {
  text-decoration: none;
  color: black
}