.elementHome,
.elementExperience,
.elementProject {
  height: 100vh;
  min-height: 600px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  max-width: 600px;
  display: flex;

}

.elementHome,
.elementExperience,
.elementProject {
  flex-direction: column;
  justify-content: center;
}


.elementHome h1,
.elementExperience h1,
.elementProject h1 {
  padding-bottom: 1rem;
  margin: 0;
  font-weight: 300;
}


.elementHome h2,
.elementExperience h2,
.elementProject h2,
.elementHome p,
.elementExperience p,
.elementProject p {
  padding-bottom: 1rem;
  font-weight: 200;
  margin: 0;
}

.navLink {
  text-decoration: none;
  color: black;
  margin: 0;
}

.navLink:hover {
  text-decoration: underline;
}